<template lang="pug">
div(v-if="music")
    .float-right.pt-8.pr-4(v-if="$vuetify.display.smAndUp")
        v-img(height=128, width=128, :src="`${this.$sekai.assetHost}/music/jacket/${music.assetbundleName}/${music.assetbundleName}.webp`")

    h1 {{ music.title }}

    v-img(v-if="!$vuetify.display.smAndUp", height=128, :src="`${this.$sekai.assetHost}/music/jacket/${music.assetbundleName}/${music.assetbundleName}.webp`")

    v-row(no-gutters).mx-n1.pa-4(style="max-width: 540px")
        template(v-for="musicDifficulty in musicDifficulties")
            v-col.mx-1(:cols="musicDifficulty.musicDifficulty == this.musicDifficulty.musicDifficulty && musicDifficulties.length > 1 ? 4 : undefined")
                MusicDifficultyChip(:difficulty="musicDifficulty.musicDifficulty", :playLevel="musicDifficulty.playLevel", @click="difficulty = musicDifficulty.musicDifficulty")


    h2 {{ $t('music.score') }}
    v-list
        //- Divider
        //- div(:key="`music-${id}-${musicDifficulty.musicDifficulty}-score`", style="height: 500px; overflow: auto", ref="test")
        //-     div(style="transform: scale(0.25); transform-origin: 0% 0%; height: 100%")
        //-         embed(:src="svg", ref="test2", @load="f")

        Divider
        v-list-item(:href="svg", target="_blank") {{ $t('music.scoreOpenInNew', { difficulty: musicDifficulty.musicDifficulty }) }}
            template(v-slot:append)
                v-icon(icon="mdi-open-in-new")

        Divider

    h2 {{ $t('dataTable.title') }}
    DataTable(:data="music")
    DataTable(:data="musicDifficulties")

</template>

<script>
import MusicDifficultyChip from '@/components/MusicDifficultyChip';
import Divider from '@/components/Divider';

export default {
    name: 'Music',

    components: {
        MusicDifficultyChip, Divider
    },

    data: () => ({
        difficulty: 'master',
    }),

    computed: {
        id() {
            return this.$route.params.id;
        },

        music() {
            return this.$db.musics[this.id];
        },

        musicDifficulty() {
            return this.$db.musicDifficulties[this.id]?.[this.difficulty] || this.musicDifficulties?.[this.musicDifficulties.length - 1];
        },

        musicDifficulties() {
            return Object.values(this.$db.musicDifficulties[this.id]);
        },

        svg() {
            return `${this.$sekai.assetHost}/music/music_score/${this.id.toString().padStart(4, '0')}_01/${this.musicDifficulty.musicDifficulty}.svg`;
        }
    },

    methods: {
        f() {
            setTimeout(() => this.$refs.test.scrollTop = this.$refs.test.scrollHeight, 0);
        }
    },
};
</script>
