<template lang="pug">
div(v-if="object")
    h1 {{ object.name || object.title || `/${k}/${id}` }}

    h2 {{ $t('dataTable.title') }}
    DataTable(:data="object")
</template>

<script>

export default {
    name: 'Default',

    computed: {
        k() {
            return this.$route.params.k;
        },

        id() {
            return this.$route.params.id;
        },

        object() {
            return this.$db[this.k + 's']?.[this.id];
        }
    }
};
</script>