<template lang="pug">
div(v-if="card")
    h1 {{ fullName }} 
        br
        small {{ $t(`cardRarities.${card.cardRarityType}`) }} {{ card.prefix }}

    v-row(no-gutters)
        v-col(cols=0, md=3, v-if="!canTraining")
        v-col(cols=12, md=6)
            v-img(aspect-ratio="7/4", 
                :src="`${this.$sekai.assetHost}/character/member/${card.assetbundleName}/card_normal.webp`")

        v-col(cols=12, md=6, v-if="canTraining")
            v-img(aspect-ratio="7/4", 
                :src="`${this.$sekai.assetHost}/character/member/${card.assetbundleName}/card_after_training.webp`")

    h2 {{ $t('dataTable.title') }}
    DataTable(:data="card")

</template>

<script>

export default {
    name: 'Card',

    data: () => ({

    }),

    computed: {
        id() {
            return this.$route.params.id;
        },

        card() {
            return this.$db.cards[this.id];
        },

        character() {
            return this.$db.gameCharacters[this.card.characterId];
        },

        fullName() {
            return [this.character.firstName, this.character.givenName].filter(x => x).join(' ');
        },

        canTraining() {
            return this.$db.cardRarities[this.card.cardRarityType].trainingMaxLevel;
        },
    },
};
</script>
