<template lang="pug">
div
    h1 {{ $t('music.title') }}
    v-list
        Divider

        v-infinite-scroll(:onLoad="load")
            template(v-for="music, i in musics.slice(0, limit)")
                Divider(v-if="i", inset=72)
                Music(:id="music.id", size=48).my-0

            template(v-slot:loading)
                .text-center
                    v-progress-circular.ma-4(color="primary", indeterminate)

            template(v-slot:empty)
                div

        Divider


</template>

<script>
import Music from './Music';
import Divider from '@/components/Divider';

export default {
    name: 'Musics',

    components: { Music, Divider },

    data: () => ({
        limit: 32,
        loadSize: 32,
    }),

    methods: {
        load({ done }) {
            if (this.limit > this.musics.length) {
                done('empty');
            } else {
                this.limit += this.loadSize;
                done('ok');
            }
        }
    },

    computed: {
        musics() {
            return Object.values(this.$db.musics).reverse();
        },
    }
};
</script>
