<template lang="pug">
v-list-item(height=56, :to="`/music/${id}`")
    template(v-slot:prepend)
        v-img.mr-4(height=40, width=40, :src="`${this.$sekai.assetHost}/music/jacket/${music.assetbundleName}/${music.assetbundleName}.webp`")
    v-list-item-title {{ music.title }}
    v-row(no-gutters).mx-n1
        v-col.mx-1(v-for="musicDifficulty in musicDifficulties")
            MusicDifficultyChip(:difficulty="musicDifficulty.musicDifficulty", :playLevel="musicDifficulty.playLevel")
</template>

<script>
import MusicDifficultyChip from '@/components/MusicDifficultyChip';

export default {
    name: 'Music',

    props: {
        id: { type: Number },
    },

    components: {
        MusicDifficultyChip
    },

    computed: {
        music() {
            return this.$db.musics[this.id];
        },

        musicDifficulties() {
            return Object.values(this.$db.musicDifficulties[this.id]);
        }
    }
};
</script>
