<template lang="pug">
v-lazy(height=56)
    v-list-item(:to="`/card/${id}`")
        template(v-slot:prepend)
            div(style="width: 40px").mr-2(v-if="!canTraining")
            CardIcon.mx-2.my-1(:id="id", size=40)
            CardIcon.mr-2.my-1(:id="id", size=40, afterTraining, v-if="canTraining")
            .mr-2
        v-list-item-title {{ $t(`cardRarities.${card.cardRarityType}`) }} {{ fullName }}
        v-list-item-subtitle {{ card.prefix }}
</template>

<script>
import CardIcon from '@/components/CardIcon';

export default {
    name: 'Card',

    props: {
        id: { type: Number },
    },

    components: { CardIcon },

    computed: {
        card() {
            return this.$db.cards[this.id];
        },

        character() {
            return this.$db.gameCharacters[this.card.characterId];
        },

        fullName() {
            return [this.character.firstName, this.character.givenName].filter(x => x).join(' ');
        },

        canTraining() {
            return this.$db.cardRarities[this.card.cardRarityType].trainingMaxLevel;
        },
    }
};
</script>