<template lang="pug">
div
    h1 {{ $t('card.title') }}
    v-list
        Divider

        v-infinite-scroll(:onLoad="load")
            template(v-for="card, i in cards.slice(0, limit)")
                Divider(v-if="i", inset=128)
                Card(:id="card.id").my-0

            template(v-slot:loading)
                .text-center
                    v-progress-circular.ma-4(color="primary", indeterminate)

            template(v-slot:empty)
                div

        Divider
</template>

<script>
import Card from './Card';
import Divider from '@/components/Divider';

export default {
    name: 'Cards',

    components: { Card, Divider },

    data: () => ({
        limit: 32,
        loadSize: 32,
    }),

    methods: {
        load({ done }) {
            if (this.limit > this.cards.length) {
                done('empty');
            } else {
                this.limit += this.loadSize;
                done('ok');
            }
        }
    },

    computed: {
        cards() {
            return Object.values(this.$db.cards).sort((a, b) => b.releaseAt - a.releaseAt);
        }
    }
};
</script>
