<template lang="pug">
template(v-if="v === undefined")
    | undefined

template(v-else-if="/.+Id/.exec(k)")
    v-btn(color="primary", variant="text", :to="`/${/(.+)Id/.exec(k)[1]}/${v}`")
        v-icon(start, icon="mdi-link")
        | {{ v }}

template(v-else-if="typeof v === 'number'")
    template(v-if="946684800000 <= v && v < 4102444800000")
        | {{ new Date(v).toLocaleString() }}
    template(v-else)
        code {{ v }}

template(v-else-if="typeof v === 'string'")
    | {{ v }}

template(v-else-if="JSON.stringify(v).length < 20") {{ v }}

template(v-else)
    v-dialog(max-width=900)
        template(v-slot:activator="{ props }")
            v-btn(v-bind="props", color="primary", variant="text") {{ Array.isArray(v) ? '[ ... ]' : '{ ... }' }}
        v-card(:style="{ 'font-family': $t('app.fontFamily') }")
            v-lazy
                DataTable(:data="v")
</template>

<script>
export default {
    name: 'DataTableValue',

    props: {
        k: {},
        v: {},
    }
};
</script>