<template lang="pug">
v-table.mb-4(density="comfortable")
    template(v-if="Array.isArray(data)")
        thead
            tr
                th i
                th(v-for="k in keys") {{ k }} 
        tbody
            tr(v-for="item, i in data")
                td {{ i }}
                td(v-for="k in keys")
                    DataTableValue(:k="k", :v="item[k]")

    template(v-else)
        thead
            tr
                th {{ $t('dataTable.key') }} 
                th {{ $t('dataTable.value') }}  
        tbody
            tr(v-for="v, k in data")
                td {{ k }}
                td
                    DataTableValue(:k="k", :v="v")

</template>

<script>
import DataTableValue from './DataTableValue';

export default {
    name: 'DataTable',

    props: {
        data: {}
    },

    components: {
        DataTableValue,
    },

    computed: {
        keys() {
            let keys = {};
            if (Array.isArray(this.data)) {
                for (let item of this.data) {
                    for (let key in item) {
                        keys[key] = true;
                    }
                }
                return Object.keys(keys);
            } else {
                return Object.keys(this.data);
            }
        }
    }
};
</script>