<template lang="pug">
.music-difficulty-chip(:class="{[difficulty]: true}")
    | {{ playLevel }}
</template>

<script>
export default {
    name: 'MusicDifficultyChip',

    props: {
        difficulty: {},
        playLevel: {},
    },
};
</script>

<style>
.music-difficulty-chip {
    width: 100%;
    border-radius: 16px;
    white-space: nowrap;
    text-align: center;
    color: #ffffff;
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.125rem;
}

.music-difficulty-chip.easy {
    border: 1px solid #81C784;
    background-color: #81C784;
}

.music-difficulty-chip.normal {
    border: 1px solid #64B5F6;
    background-color: #64B5F6;
}

.music-difficulty-chip.hard {
    border: 1px solid #FFB74D;
    background-color: #FFB74D;
}

.music-difficulty-chip.expert {
    border: 1px solid #E57373;
    background-color: #E57373;
}

.music-difficulty-chip.master {
    border: 1px solid #BA68C8;
    background-color: #BA68C8;
}

.music-difficulty-chip.append {
    border: 1px solid #BA68C8;
    background-color: #F3E5F5;
    color: #BA68C8;
}
</style>