<template lang="pug">
div
    .py-2
    v-list
        Divider
        v-list-item(to="/") 
            template(v-slot:prepend)
                v-icon(icon="mdi-home")
            | {{ $t('navigation.home') }}

        Divider

    .py-2
    v-list
        v-list-subheader {{ $t('navigation.characters') }}

        Divider
        v-list-item(to="/card")
            template(v-slot:prepend)
                v-icon(icon="mdi-cards")
            | {{ $t('card.title') }}

        Divider(inset=72)
        v-list-item(to="/character") 
            template(v-slot:prepend)
                v-icon(icon="mdi-face")
            | {{ $t('character.title') }}

        Divider(inset=72)
        v-list-item(to="/unit")
            template(v-slot:prepend)
                v-icon
            | {{ $t('unit.title') }}

        Divider

    .py-2
    v-list
        v-list-subheader {{ $t('navigation.musics') }}

        Divider
        v-list-item(to="/music")
            template(v-slot:prepend)
                v-icon(icon="mdi-music")
            | {{ $t('music.title') }}

        Divider

    .py-2
    v-list
        v-list-subheader {{ $t('navigation.events') }}

        Divider
        v-list-item(to="/event") 
            template(v-slot:prepend)
                v-icon(icon="mdi-calendar")
            | {{ $t('event.title') }}

        Divider(inset=72)
        v-list-item(to="/gacha") 
            template(v-slot:prepend)
                v-icon(icon="mdi-star-shooting")
            | {{ $t('gacha.title') }}

        Divider(inset=72)
        v-list-item(to="/story") 
            template(v-slot:prepend)
                v-icon(icon="mdi-book")
            | {{ $t('story.title') }}

        Divider

    .py-2
    v-list
        v-list-subheader {{ $t('navigation.user') }}

        Divider
        v-list-item(to="/user") 
            template(v-slot:prepend)
                v-icon(icon="mdi-account")
            | {{ $t('user.title') }}

        Divider(inset=72)
        v-list-item(to="/setting") 
            template(v-slot:prepend)
                v-icon(icon="mdi-cog")
            | {{ $t('setting.title') }}

        Divider(inset=72)
        v-list-item(to="/about") 
            template(v-slot:prepend)
                v-icon(icon="mdi-information")
            | {{ $t('about.title') }}

        Divider

    .py-2
</template>

<script>
import Divider from '@/components/Divider';

export default {
    name: 'Navigation',

    components: {
        Divider,
    },
};
</script>
