<template lang="pug">
div
</template>

<script>

// import hsluv from 'hsluv';

// function mixColor(color, hsl, r = 0.5) {
//     let rgb0 = [0, 1, 2].map(i => parseInt(color.slice(-2 * (3 - i), -2 * (3 - i - 1) || undefined), 16) / 255);
//     let hsl0 = hsluv.rgbToHsluv(rgb0);
//     let hsl1 = hsl.map((x, i) => x == undefined ? hsl0[i] : hsl0[i] * (1 - r) + x * r);
//     let rgb1 = hsluv.hsluvToRgb(hsl1);
//     let hex1 = '#' + rgb1.map(x => ('00' + Math.round(x * 255).toString(16)).slice(-2)).join('');
//     return hex1;
// }

export default {
    name: 'Theme',

    methods: {
        test() {
            this.$vuetify.theme.themes.light.primary = '#ff0000';
            // this.$vuetify.theme.global.name = 'dark';
        },
    }
};
</script>