<template lang="pug">
div
    h1 {{ $t('about.title') }}

    h2 開発者

    Divider
    v-list-item(prepend-avatar="https://asset3.pjsekai.moe/thumbnail/chara/res009_no021_normal.png")
        v-list-item-title Amaoto
        v-list-item-subtitle 林檎雨音 | Circle Lin
        template(v-slot:append)
            v-btn(icon="mdi-gitlab", variant="plain", href="https://gitlab.com/pjsekai/moe", target="_blank")
            v-btn(icon="mdi-twitter", variant="plain", href="https://twitter.com/nilcric_pjsekai", target="_blank")
            v-btn(icon="mdi-email", variant="plain", href="mailto:amaoto@pjsekai.moe")

    Divider

    h2 権利声明

    p 本サイトは個人によって運営されており、低頻度で更新される可能性があり、正確性・即時性・安定性などを保証するものではありません。

    p 本サイトの情報はインターネットの公開資料から取得され、表示されている内容に対する所有権を主張しません。

    p 本サイトは SEGA・Colorful Palette・Crypton とは一切関係ありません。

</template>

<script>
import Divider from '@/components/Divider';

export default {
    name: 'About',

    components: {
        Divider,
    }
};
</script>