<template lang="pug">
div
    h1 {{ $t('app.title') }}
    p.primary--text {{ $t('app.introduction') }}
    .py-2

    v-img(contain, height=96, src="favicon.png")
    .py-2

</template>

<script>
export default {
    name: 'Home'
};
</script>