<template lang="pug">
v-app(:style="{ 'font-family': $t('app.fontFamily') }")
    v-app-bar(color="primary")
        .mr-4(:style="{ width: `${paddingX}px` }")

        v-app-bar-nav-icon(@click="navigationDrawer = !navigationDrawer")

        v-app-bar-title {{ $t('app.title') }}

        Theme

        .ml-4(:style="{ width: `${paddingX}px` }")

    v-navigation-drawer(v-model="navigationDrawer", temporary, width=300)
        Navigation

    v-main
        template(v-if="databaseStatus.status != 'ok'")
            .text-center.pa-8
                v-progress-circular.ma-4(color="primary", 
                    :indeterminate="!databaseStatus.loaded", 
                    :model-value="databaseStatus.loaded / $sekai.requiredDatabases.length * 100")
                p {{$t('loading.database')}} {{ databaseStatus.loaded }} / {{ $sekai.requiredDatabases.length }}

        template(v-else-if="$vuetify.display.smAndDown")
            template(v-if="!hasList || $route.params.id")
                router-view(:style="{ paddingBottom: `${paddingBottom}px` }")

            template(v-if="hasList && !$route.params.id")
                router-view(:style="{ paddingBottom: `${paddingBottom}px` }", name="list")

        template(v-else)
            template(v-if="!hasList")
                router-view.mx-auto(:style="{ paddingBottom: `${paddingBottom}px`, maxWidth: `${contentWidth}px` }")

            template(v-if="hasList")
                v-navigation-drawer(:width="navigationWidth + paddingX", floating, permanent, color="transparent")
                    router-view.ml-auto.pr-4(:style="{ width: `${navigationWidth}px` }", name="list")

                router-view(:style="{ paddingBottom: `${paddingBottom}px`, maxWidth: `${contentWidth}px` }")
</template>

<script>
import Navigation from '@/components/Navigation';
import Theme from '@/components/Theme';

export default {
    name: 'App',

    components: {
        Navigation, Theme
    },

    data() {
        return {
            databaseStatus: this.$sekai.databaseStatus,
            navigationDrawer: false,
        };
    },

    computed: {
        hasList() {
            return !!this.$route.matched[0]?.components?.list;
        },

        paddingBottom() {
            return this.$vuetify.display.mdAndDown ? 56 + this.footerPaddingBottom : 0;
        },

        footerPaddingBottom() {
            return 0;
        },

        paddingX() {
            let width = this.navigationWidth + this.contentWidth;
            if (this.$vuetify.display.width <= width) {
                return 0;
            }
            return (this.$vuetify.display.width - (width)) / 2;
        },

        contentWidth: () => 900,
        navigationWidth: () => 360,
    },

    mounted() {
        this.$sekai.loadDatabase();
    },
};
</script>

<style lang="scss" src="@/scss/text.scss" />
<style lang="scss" src="@/scss/override.scss" />
