.theme--dark {

    .hint,
    .v-slider__tick-label {
        color: #ffffffaa;
    }
}

.theme--light {

    .hint,
    .v-slider__tick-label {
        color: #00000099;
    }
}

.v-application p {
    margin-bottom: 0;
}

.v-list {
    padding-top: 0;
    padding-bottom: 0;
}

.v-infinite-scroll {
    overflow: hidden !important;
}

.v-infinite-scroll__side {
    padding: 0 !important;
}