html {
    font-size: 0.875em !important;
}

h1 {
    font-size: 2rem;
    font-weight: 750;
    padding: 32px 16px 16px 16px;
    color: rgb(var(--v-theme-primary));
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 24px 16px 16px 16px;
    color: var(--v-primary-base);
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 16px 12px 16px;
    color: var(--v-primary-base);
}

p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 16px 8px 16px;
}

.hint {
    font-size: 0.75rem;
    font-weight: 300;
    padding: 8px 16px 8px 16px;
}

.v-toolbar__title {
    font-size: 1em !important;
    font-weight: 700;
}

.v-slider__tick-label {
    font-size: 0.75rem;
    font-weight: 300;
}